<div class="blog-list-container">
  <div class="header">
    <h1>Blog Yazıları</h1>
    <div class="filters">
      <select class="filter-select" [(ngModel)]="selectedCategory" (change)="filterByCategory()">
        <option value="">Tüm Kategoriler</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </option>
      </select>
      <select class="filter-select" [(ngModel)]="sortBy" (change)="sortBlogs()">
        <option value="newest">En Yeni</option>
        <option value="popular">En Popüler</option>
      </select>
    </div>
  </div>

  <div class="blog-grid">
    <article *ngFor="let blog of blogs" class="blog-card" [routerLink]="['/blog', blog.id]">
      <div class="card-image" [style.backgroundImage]="'url(' + blog.image + ')'">
        <div class="category-badge">{{blog.categories?.name}}</div>
      </div>
      <div class="card-content">
        <h2 class="title">{{blog.title}}</h2>
        <p class="excerpt">{{blog.content | slice:0:150}}...</p>
        <div class="card-footer">
          <div class="author">
            <img [src]="blog.profiles?.avatar_url" [alt]="blog.profiles?.full_name" class="author-avatar">
            <div class="author-info">
              <span class="author-name">{{blog.profiles?.full_name}}</span>
              <span class="post-date">{{blog.created_at | date:'mediumDate'}}</span>
            </div>
          </div>
          <div class="stats">
            <span class="views">
              <i class="far fa-eye"></i>
              {{blog.views_count}}
            </span>
          </div>
        </div>
      </div>
    </article>
  </div>
</div> 